* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #06620A;
    --white: #fff;
    --gray: #f5f5f5;
    --black0: #222;
    --black1: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #06620A;
    border-left: 10px solid #164018;
    transition: 0.5s ease;
}

.nav h3 {
    align-items: center;
    display: flex;
    font-size: 25px;
    margin-left: 15px;
}

.nav.nav.active h3 {
    display: none;
}

.nav img {
    margin-top: 1px;
    margin-left: 5px;
}

.nav h3 span {
    color: #B42323;   
}

.nav.active {
    width: 70px;
}

.nav.active .title {
    display: none;
}

.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav ul li {
    position: relative; 
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.nav ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--white);
}

.nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.nav ul li:hover,
.nav ul li.hovered {
    background-color: var(--white);
}

.nav ul li:hover a,
.nav ul li.hovered a {
    color: var(--blue);
}

.nav ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none; 
}

.nav ul li a .icon i  {
    font-size: 1.65rem;
    padding-top: 10px;
}

.nav ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.nav ul li:hover::before,
.nav ul li.hovered::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    box-shadow: 35px 35px 0 10px var(--white);
    background-color: transparent;
    border-radius: 50%;
}

.nav ul li:hover::after,
.nav ul li.hovered::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    box-shadow: 35px -35px 0 10px var(--white);
    border-radius: 50%;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s ease;
}

.main.active {
    width: calc(100% - 70px); 
    left: 70px;
}

.topbar {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 10px;
}

.toggle {
    position: relative;
    top: 0;
    width: 50px;
    height: 45px;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: #06620A;
}

.main.active .toggle {
    margin-left: 25px;
}

.search {
    width: 400px;
    margin-top: 10px;
    padding-left: 200px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #06620A;
    padding: 5px 20px;
    outline: none;
    font-size: 17px;
    padding-left: 35px;
}

.search label i {
    position: absolute;
    top: 0;
    left: 10px;
    width: 30px;
    height: 30px;
    color: #06620A;
}

.user {
    top: 0;
    right: 10px;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: block;
    margin-right: 20px;
}

.main.active .user {
    margin-right: 30px;
}

.user img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox {
    width: 100%;
    padding: 20px;
    display: flex;
    color: black;
    position: relative;
    margin-right: 10px;
    gap: 20px;
}

.main.active .card {
    width: 17%;
    margin-left: 15px;
}

.cardBox .card {
    position: relative;
    background-color: white;
    padding: 25px;
    width: 17%;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba( 0, 0, 0, 0.08);
}

.cardBox .card .num {
    font-size: 2.1rem;
    font-weight: 500;
    color: #06620A;
}

.cardBox .card .cardname {
    font-size: 1.1rem;
    margin-top: 5px;
    color: var(--black1);
}

.cardBox .card .iconbx {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--black1);
}

.cardBox .card:hover {
    background-color: #06620A;
}

.cardBox .card:hover .num,
.cardBox .card:hover .iconbx,
.cardBox .card:hover .cardname {
    color: white;
}

.details {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 10px;
}

.details .recent {
    display: flex;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0 , 0.1);
    border-radius: 20px;
}

.details .cardHead {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHead h2 {
    font-weight: 600;
    color: var(--blue);
}

.cardHead .btn {
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}

.details .recent table tr {
    color: var(--black0);
    border-bottom: 1px solid rgba(0, 0, 0 , 0.1);
}

.details .recent table tr:last-child {
    border-bottom: none;
}

.details .recent table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details .recent table tr td {
    padding: 10px;
}

.details .recent table tr td:last-child,
.details .recent table tr td:nth-child(2) {
    text-align: end;
}

.details .recent table tr td:nth-child(3) {
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
